/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
/* Centering the page content and adding padding for layout */
.page_container__aoG4z {
  color: #fff; /* White text for high contrast */
  font-family: 'Arial', sans-serif; /* Readable font */
  padding: 50px 20px;
  text-align: center;
}

/* Styling the main title */
.page_title__3jonF {
  font-family: 'Playfair Display', serif; /* Elegant serif font */
  font-size: 3rem; /* Large title */
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffcc00; /* Bright yellow title color */
  margin-bottom: 20px;
}

/* Styling for paragraphs */
.page_description__86bsR {
  font-size: 1.25rem; /* Larger paragraph text */
  color: #ddd; /* Light gray text */
  line-height: 1.6; /* Comfortable spacing between lines */
  margin-bottom: 20px;
}



/* Button styling */
.page_connectButton__vXunu {
  background-color: #ffcc00;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
}

.page_connectButton__vXunu:hover {
  background-color: #e6b800; /* Slightly darker yellow on hover */
}

