.container {
  color: #fff;
  font-family: 'Arial', sans-serif;
  padding: 50px 20px;
  text-align: center;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffcc00;
  margin-bottom: 20px;
}

.description {
  font-size: 1.25rem;
  color: #ddd;
  line-height: 1.6;
  margin-bottom: 20px;
}

.connectButton {
  background-color: #ffcc00;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
}

.connectButton:hover {
  background-color: #e6b800;
}
